{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    {{ form_start(form_sync_league) }}

        {{ form_row(form_sync_league.tier) }}
        <div class="row mt-2">
            <div class="col-6">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </div>

    {{ form_end(form_sync_league) }}
{% endblock %}