{% extends '@EasyAdmin/page/content.html.twig' %}
{% trans_default_domain('admin') %}

{% block main %}
    <a href="#" class="btn">Commande Initialisation</a>
    <a href="{{ path('app_language_sync') }}" class="btn">{{ 'app.synchronise.language'|trans }}</a>
    <a href="{{ path('app_version_sync') }}" class="btn">{{ 'app.synchronise.version'|trans }}</a>
    <a href="{{ path('app_champion_sync') }}" class="btn">{{ 'app.synchronise.champion'|trans }}</a>
    <a href="{{ path('app_skins_champion_sync') }}" class="btn">{{ 'app.synchronise.skin'|trans }}</a>
    <a href="{{ path('app_league_sync') }}" class="btn">{{ 'app.synchronise.league'|trans }}</a>
{% endblock %}


