{% extends 'base.html.twig' %}
{% trans_default_domain('messages') %}

{% block stylesheet %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

        body {
            background-color: #f4f4f4;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .development-image {
            max-width: 100%;
            height: auto;
        }
        .development-text {
            margin-top: 20px;
            font-size: 24px;
            color: #333;
        }
        .progress {
            background-color: #d8d8d8;
            border-radius: 20px;
            position: relative;
            margin: 15px 0;
            height: 30px;
            width: 300px;
        }

        .progress-done {
            background: linear-gradient(to left, #ec6108, #eea476);
            box-shadow: 0 3px 3px -5px #ec6108, 0 2px 5px #ec6108;
            border-radius: 20px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 0;
            opacity: 0;
            transition: 1s ease 0.3s;
        }
    </style>
{% endblock %}


{% block body %}
    <img src="development-image.png" alt="In development" class="development-image">
    <div class="development-text">
        <p>{{ 'message.development.part1'|trans }}</p>
        <p>{{ 'message.development.part2'|trans }}</p>
        <p>{{ 'message.development.part3'|trans }}</p>
    </div>

    <!-- Barre de progression -->
    <div class="progress">
        <div class="progress-done" data-done="30">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const progress = document.querySelector('.progress-done');

        progress.style.width = progress.getAttribute('data-done') + '%';
        progress.style.opacity = 1;
        progress.innerHTML = progress.getAttribute('data-done') + '%';

    </script>
{% endblock %}
